@media screen and (min-width: 768px) {
    body {
      width: 1440px;
      background: #FFFFFF;
      }

      .top-left-image {
        position: absolute;
        width: 111px;
        height: 74px;
        left: 0;
        top: 0;
        background-image: url("../img/00.png");
        display: none;
      }
      
      .top-right-image {
        position: absolute;
        width: 20px;
        height: 14px;
        left: 284px;
        top: 19px;
        background-image: url("../img/02.png");
        display: none;
      }

      .navbar {
        width: 1440px;
        height: 100px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 0.5px 0px #DDDFE6;
      }

      .navbar-list {
        width: 1040px;
        left: 536px;
        top: 62px;
        list-style: none;
        padding-left: 15%;
        padding-top: 25px;
      }

      .navbar-list-item {
        width: 300px;
        height: 24px;
        left: 741px;
        top: 38px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: #1A2236;
        display: inline;
        padding-left: 15%;
      }

      .developer-name {
        font-family: 'Playfair Display', serif;
        padding-top: 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 100%;
        margin-bottom: 0;
        color: #1a2236;
      }
    }